*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 15px 5px;
}

.header_top {
  background-color: black;
}
.header_top .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header_top .container .header_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
}
.header_top .container .header_link_ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.header_top .container .header_link_ol_li {
  list-style: none;
}
.header_top .container .header_link_ol_li_item {
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
}
.header_top .container .header_link_ul {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
}
.header_top .container .header_link_ul_li_img {
  width: 21px;
  height: 27px;
}
.header_top .container .header_link_ul_li_item {
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
}
.header_bottom .container {
  display: flex;
  align-items: center;
}
.header_bottom .container .rigt {
  padding-left: 120px;
}
.header_bottom .container .header_middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}
.header_bottom .container .header_middle_rigt {
  display: flex;
}
.header_bottom .container .header_middle_img {
  width: 190px;
  height: 42px;
}
.header_bottom .container .header_middle_imput {
  width: 377px;
  height: 41px;
  padding-left: 20px;
}
.header_bottom .container .header_middle_ol {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header_bottom .container .header_middle_ol_li {
  list-style: none;
  font-family: sans-serif;
  padding-left: 10px;
}
.header_bottom .container .header_middle_ol_li .rigt_imgg {
  width: 28px;
  height: 26px;
}
.header_bottom .container .header_middle_ol_ul_img {
  width: 15px;
  height: 9px;
  margin-left: 10px;
}
.header_bottom .container .header_middle_ol_bottom {
  list-style: none;
}
.header_nav {
  background-color: black;
}
.header_nav .container .panel-heading .panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto auto auto auto;
}
.header_nav .container .panel-heading .panel-title_li {
  list-style: none;
}
.header_nav .container .panel-heading .panel-title_li_item {
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
}
.header_nav .container .panel-collapse .list-group_ol {
  display: flex;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto auto;
  padding: 20px 0;
}
.header_nav .container .panel-collapse .list-group_ol_li {
  list-style: none;
}
.header_nav .container .panel-collapse .list-group_ol_li_item {
  font-family: sans-serif;
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
}
.header_nav .container .panel-collapse .list-group_ol_li_img {
  width: 100%;
}
.header_nav .container .panel-collapse .list-group_ol_img {
  width: 100%;
}
.header_nav .container .panel-collapse .list-group_ol_four {
  list-style: none;
}
.header_nav .container .panel-collapse .list-group_ol_four_item {
  text-decoration: none;
  color: rgb(255, 242, 0);
  font-family: sans-serif;
}
.header_nav .container .panel-collapse .list-group_ol_ul_li_item {
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
  line-height: 2;
}

.product_card {
  width: 340px;
  height: 500px;
  box-shadow: 0 0 1rem rgb(213, 211, 211);
  text-align: center;
  font-family: sans-serif;
  transition: transform 0.5s ease-in-out;
}

body {
  overflow-x: none;
}

.products-slider {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 40px;
}

.product_card:hover {
  transform: scale(1.02);
}

a {
  color: black;
  text-decoration: none;
}

.info-product-card__size {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.product-card__rating {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  padding: 10px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  padding: 13px;
}

.product-card__cart {
  width: 90%;
  height: 35px;
  background-color: #E8AA31;
  border: none;
  color: white;
}

.product-card__cart:hover {
  background-color: #ba8927;
  cursor: pointer;
}

.product-card__image-ibg img {
  width: 100%;
}

.products-slider__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  padding: 40px 50px;
}

.products-slider__more {
  opacity: 80%;
}

.products-slider__more:hover {
  opacity: 100%;
}

.product-card__title {
  text-align: left;
  padding: 0 0.6rem;
}

.page__featured-products-slider {
  display: flex;
  justify-content: space-around;
  padding: 50px 50px;
  flex-wrap: wrap;
  background-image: url(../img/orqafon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 150px;
}
.page__featured-products-slider .page__products-slider .page__products-slider_title {
  color: white;
  font-family: sans-serif;
  width: 340px;
}
.page__featured-products-slider .page__products-slider .page__products-slider__text {
  color: white;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 23px;
}
.page__featured-products-slider .page__products-slider .page__products-slider__button .page__products-slider__btn {
  background-color: transparent;
  color: #E8AA31;
  font-family: sans-serif;
  margin-top: 40px;
  border: none;
  font-size: 20px;
}
.page__featured-products-slider .page__products-slider .page__products-slider__button .page__products-slider__btn:hover {
  color: #151513;
}
.page__featured-products-slider .product_card {
  background-color: white;
}

@media only screen and (max-width: 576px) {
  .page__featured-products-slider {
    row-gap: 30px;
  }
  .products-slider {
    row-gap: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .main {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */