.footer {
    width: 1809px;
    height: 1371px;
    background-color: #141414;
    margin: 0 auto;


    .footer_wrapper {

        .footer_top {
            background: url("../image/footer_top_img.jpg");
            width: 1809px;
            // margin-left: -350px;
            text-align: center;
            height: 331px;
            padding-top: 60px;

            .footer_top_title {
                margin-bottom: 30px;
                margin-left: 487px;
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 700;
                line-height: 46px;
                letter-spacing: 0.05em;
                text-align: left;
                color: #E8AA31;
            }

            .footer_top_text {
                margin-left: 171px;
                width: 1592px;
                height: 135px;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
            }
        }


        .footer_middle {

            .coloumns {
                padding-top: 102px;
                padding-left: 183px;
                padding-right: 200px;
                display: flex;
                gap: 180px;
                width: 1690px;
                height: auto;
                background-color: #141414;
            }

            .coloumn {

                .coloumn_title {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.94px;
                    text-align: left;
                    color: white;
                    margin-bottom: 23px;
                }

                .footer_middle_ul {
                    margin-bottom: 40px;
                    row-gap: 20px;

                    .footer_middle_li {
                        margin-bottom: 20px;

                        .footer_middle_a {
                            font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 27px;
                            text-align: left;
                            color: #FFFFFFCC;

                        }

                        .footer_middle_a:hover {
                            color: #E8AA31;
                            cursor: pointer;
                            transition: all 0.5s ease;
                        }

                    }
                }
            }
        }

        .footer_hr {
            // margin-left: -170px;
            margin-left: 130px;
            width: 1475px;
            border: 1px solid #FFFFFF80;
            margin-bottom: 35px;
            border-radius: 1px;
        }

        .footer_end {
            margin-left: 163px;
            display: flex;
            gap: 173px;


            .coloumn1 {
                width: 194px;
                height: 282px;

                .coloumn_title {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.94px;
                    margin-bottom: 31px;
                    color: #FFFFFF;
                }

                .phone {
                    margin-bottom: 15px;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 21.94px;
                    color: #FFFFFFCC;
                }

                .footer_end_time {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    color: #FFFFFFCC;

                    span {
                        display: block;
                    }
                }

                .footer_end_location {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    color: #FFFFFFCC;

                    span {
                        display: block;
                    }
                }

                .footer_end_mail {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    color: #FFFFFFCC;
                }

                .logos {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    gap: 21.6px;
                }
            }

            .coloumn2 {
                width: 296px;
                height: 74px;

                .coloumn_title {
                    margin-bottom: 30px;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.94px;
                    color: white;
                }

                .footer_end_a {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 21.94px;
                    color: #FFFFFFCC;
                }
            }

            .coloumn3 {
                width: 318px;
                height: 160px;

                .coloumn_title {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.94px;
                    color: white;
                    margin-bottom: 30px;
                }

                .footer_end_p {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    color: #FFFFFFCC;

                    span {
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 27px;
                        text-align: left;
                        color: #E8AA31;
                    }

                }
            }
        }
    }
}