.header_link{
    background-color: black;
    color: aliceblue;
    padding: 1% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ol{
        display: flex;
        width: 450px;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }
    ul{
        display: flex;
        width: 150px;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }
}